@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
    --fundo-principal:black;
    --fundo-segundario:silver;
    --font-botao:"Oswold", sans-serif;
}
/*font-family: "Oswald", sans-serif;*/
header {
    display: inline-block;
    border: 10px solid;
    border-radius: 50px;
    width: 241px;
    height: 77px;
    margin-right: 145px;
    background-color: silver;
}

header img {
    width:175px;
    height: 110px;
    object-fit: cover;
}

header nav ul li a {
    text-decoration: none;
}

nav li {
    font-family: "Oswold", sans-serif;
}